<!-- login form -->

<form ng-submit="loginSubmit()">

<table style="width:100%;"><tr>

<td>

<div class="input-prepend">
<span class="add-on"><i class="icon-user"></i> </span>
<input type="text" placeholder="MySQL Username" ng-model="login.user" style="width:150px;"> 
</div>

</td>
<td>

<div class="input-prepend">
<span class="add-on"><i class="icon-lock"></i> </span>
<input type="password" placeholder="MySQL Password" ng-model="login.pass" style="width:150px;"> 
</div>

</td>
<td>

<div class="input-prepend">
<span class="add-on"><i class="icon-hdd"></i> </span>
<input type="text" placeholder="MySQL Server" ng-model="login.serv" value="localhost" style="width:150px;"> 
</div>

</td>
<td><input type="submit" class="btn btn-primary" value="Connect To MySQL"> </td>



</table>


</form>


